:root {
    --md-sys-color-primary: light-dark(hsl(99, 9%, 35%), rgb(255 255 255));
    --md-sys-color-surface-tint: light-dark(rgb(87 98 81), rgb(190 202 182));
    --md-sys-color-on-primary: light-dark(rgb(255 255 255), rgb(41 51 37));
    --md-sys-color-primary-container: light-dark(rgb(217 229 208), rgb(204 216 195));
    --md-sys-color-on-primary-container: light-dark(rgb(64 74 59), rgb(56 66 51));
    --md-sys-color-secondary: light-dark(rgb(91 96 88), rgb(196 200 190));
    --md-sys-color-on-secondary: light-dark(rgb(255 255 255), rgb(45 50 43));
    --md-sys-color-secondary-container: light-dark(rgb(228 232 222), rgb(60 64 57));
    --md-sys-color-on-secondary-container: light-dark(rgb(71 76 68), rgb(209 213 203));
    --md-sys-color-tertiary: light-dark(rgb(80 97 101), rgb(255 255 255));
    --md-sys-color-on-tertiary: light-dark(rgb(255 255 255), rgb(34 51 54));
    --md-sys-color-tertiary-container: light-dark(rgb(210 229 233), rgb(197 216 220));
    --md-sys-color-on-tertiary-container: light-dark(rgb(57 74 78), rgb(49 66 70));
    --md-sys-color-error: light-dark(rgb(186 26 26), rgb(255 180 171));
    --md-sys-color-on-error: light-dark(rgb(255 255 255), rgb(105 0 5));
    --md-sys-color-error-container: light-dark(rgb(255 218 214), rgb(147 0 10));
    --md-sys-color-on-error-container: light-dark(rgb(65 0 2), rgb(255 218 214));
    --md-sys-color-background: light-dark(rgb(252 249 246), rgb(19 19 18));
    --md-sys-color-on-background: light-dark(rgb(27 28 26), rgb(228 226 223));
    --md-sys-color-surface: light-dark(rgb(252 249 246), rgb(19 19 18));
    --md-sys-color-on-surface: light-dark(rgb(27 28 26), rgb(228 226 223));
    --md-sys-color-surface-variant: light-dark(rgb(225 227 218), rgb(68 72 65));
    --md-sys-color-on-surface-variant: light-dark(rgb(68 72 65), rgb(197 200 191));
    --md-sys-color-outline: light-dark(rgb(117 120 113), rgb(143 146 138));
    --md-sys-color-outline-variant: light-dark(rgb(197 200 191), rgb(68 72 65));
    --md-sys-color-shadow: light-dark(rgb(0 0 0), rgb(0 0 0));
    --md-sys-color-scrim: light-dark(rgb(0 0 0), rgb(0 0 0));
    --md-sys-color-inverse-surface: light-dark(rgb(48 48 47), rgb(228 226 223));
    --md-sys-color-inverse-on-surface: light-dark(rgb(243 240 237), rgb(48 48 47));
    --md-sys-color-inverse-primary: light-dark(rgb(190 202 182), rgb(87 98 81));
    --md-sys-color-primary-fixed: light-dark(rgb(218 230 209), rgb(218 230 209));
    --md-sys-color-on-primary-fixed: light-dark(rgb(20 30 17), rgb(20 30 17));
    --md-sys-color-primary-fixed-dim: light-dark(rgb(190 202 182), rgb(190 202 182));
    --md-sys-color-on-primary-fixed-variant: light-dark(rgb(63 74 58), rgb(63 74 58));
    --md-sys-color-secondary-fixed: light-dark(rgb(224 228 218), rgb(224 228 218));
    --md-sys-color-on-secondary-fixed: light-dark(rgb(25 29 23), rgb(25 29 23));
    --md-sys-color-secondary-fixed-dim: light-dark(rgb(196 200 190), rgb(196 200 190));
    --md-sys-color-on-secondary-fixed-variant: light-dark(rgb(68 72 65), rgb(68 72 65));
    --md-sys-color-tertiary-fixed: light-dark(rgb(211 230 234), rgb(211 230 234));
    --md-sys-color-on-tertiary-fixed: light-dark(rgb(13 30 33), rgb(13 30 33));
    --md-sys-color-tertiary-fixed-dim: light-dark(rgb(183 202 206), rgb(183 202 206));
    --md-sys-color-on-tertiary-fixed-variant: light-dark(rgb(56 74 77), rgb(56 74 77));
    --md-sys-color-surface-dim: light-dark(rgb(220 218 215), rgb(19 19 18));
    --md-sys-color-surface-bright: light-dark(rgb(252 249 246), rgb(57 57 55));
    --md-sys-color-surface-container-lowest: light-dark(rgb(255 255 255), rgb(14 14 13));
    --md-sys-color-surface-container-low: light-dark(rgb(246 243 240), rgb(27 28 26));
    --md-sys-color-surface-container: light-dark(rgb(240 237 235), rgb(31 32 30));
    --md-sys-color-surface-container-high: light-dark(rgb(234 232 229), rgb(42 42 40));
    --md-sys-color-surface-container-highest: light-dark(rgb(228 226 223), rgb(53 53 51));
}