/* Materialize CSS */

@import url(materialize-1.0.0.min.css);

/* Main font */

@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(../fonts/open-sans-condensed-300-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Material icons */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-icons-v48.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

/* Main stylesheet */

body {
    font-family: 'Open Sans Condensed', Impact, "Franklin Gothic Bold", sans-serif;
}

h1 {
    animation: letterSpacingAnimation .3s ease;
}

@media (prefers-reduced-motion: reduce) {
    h1 {
        animation: none;
    }
}

@keyframes letterSpacingAnimation {
    0% {
        letter-spacing: .2rem;
    }
    100% {
        letter-spacing: 0;
    }
}

.sidenav, .navbar-fixed, nav, footer {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    margin-bottom: 1rem;
}

body .navbar-fixed ul {
    display: flex;
    justify-content: center;
}

body .navbar-fixed li {
    flex: 0 0 auto;
}

body .navbar-fixed a {
    width: 100%;
}

body .navbar-fixed .active {
    text-decoration: underline;
    text-decoration-style: dotted;
}

@media (max-width: 1024px) {
    body .navbar-fixed i {
        display: none;
    }
}

body>footer {
    border-top: 1px dotted #444;
    margin-top: 8rem;
}

body>footer a.btn-flat {
    padding: 0;
}

.container li:first-child img {
    vertical-align: middle;
    margin-right: .5rem;
}

::selection {
    background: #bf360c;
    color: #fff;
}

span.badge.new::after {
    content: "";
}

.parallax-container {
    height: 20vh;
}

@media (min-width: 360px) {
    .parallax-container {
        height: 35vh;
    }
}

@media (min-width: 601px) {
    .parallax-container {
        height: 45vh;
    }
}

@media (max-width: 390px) {
    nav .container {
        width: 100%;
    }
}