h2 {
    margin-bottom: 2rem;
}

.parallax-container {
    margin-bottom: 2rem;
}

span.badge.new {
    font-size: large;
    height: auto;
    line-height: normal;
    padding: .3rem .5rem;
}

.section ul {
    margin: 2rem 0;
}

.section li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.section li>span:first-child {
    padding: .5rem 2rem .5rem 0;
}

.section li .description {
    flex: 1 1 auto;
    align-items: baseline;
}

.section li p {
    margin: 0;
    font-size: 1rem;
}

.section li .badge {
    flex: 0 0 auto;
}

body>nav {
    top: 0;
    z-index: 997;
    /* >= nav */
    background: none;
    /* Safari make [type="search" round */
}

input#search {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

input::placeholder {
    color: #000;
}

@media (min-width: 601px) {
    input#search {
        text-align: center;
    }
    span.badge.new {
        font-size: x-large;
    }
    .section li {
        margin-bottom: 0;
    }
    .section li .description {
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .section li .description p {
        margin-left: 1rem;
        flex: 0 1 auto;
        font-size: 1.1rem;
    }
}

@media (min-width: 1280px) {
    .description {
        border-bottom: 1px dotted #444;
    }
}

.search-hidden {
    display: none !important;
}