<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Datenschutzerklärung</h2>
		</mat-card-title>
		<mat-card-subtitle>Anbieter und verantwortliche Stelle im Sinne des Datenschutzgesetzes</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<p>
			<span id="s3-t-firma">Gasthaus Gundel</span>
			<br>
			<span id="s3-t-ansprechpartner">Ioannis Loules</span>
			<br>
			<span id="s3-t-strasse">Nördlinger Straße 14</span>
			<br>
			<span id="s3-t-plz">91126</span>
			<span id="s3-t-ort">Barthelmesaurach</span>
		</p>
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Geltungsbereich</h2>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>Nutzer erhalten mit dieser Datenschutzerklärung Information über die Art, den Umfang und Zweck der Erhebung und Verwendung
			ihrer Daten durch den verantwortlichen Anbieter erhoben und verwendet werden. </p>
		<p>Den rechtlichen Rahmen für den Datenschutz bilden das Bundesdatenschutzgesetz (BDSG) und das Telemediengesetz (TMG).</p>
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Erfassung allgemeiner Informationen</h2>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>Mit jedem Zugriff auf dieses Angebot werden durch uns bzw. den Webspace-Provider automatisch Informationen erfasst. Diese
			Informationen, auch als Server-Logfiles bezeichnet, sind allgemeiner Natur und erlauben keine Rückschlüsse auf Ihre Person.
		</p>
		<p> Erfasst werden unter anderem: Name der Webseite, Datei, Datum, Datenmenge, Webbrowser und Webbrowser-Version, Betriebssystem,
			der Domainname Ihres Internet-Providers, die sogenannte Referrer-URL (jene Seite, von der aus Sie auf unser Angebot zugegriffen
			haben) und die IP-Adresse.</p>
		<p>Ohne diese Daten wäre es technisch teils nicht möglich, die Inhalte der Webseite auszuliefern und darzustellen. Insofern
			ist die Erfassung der Daten zwingend notwendig. Darüber hinaus verwenden wir die anonymen Informationen für statistische
			Zwecke. Sie helfen uns bei der Optimierung des Angebots und der Technik. Wir behalten uns zudem das Recht vor, die Log-Files
			bei Verdacht auf eine rechtswidrige Nutzung unseres Angebotes nachträglich zu kontrollieren.</p>
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Einbindung von Diensten und Inhalten Dritter</h2>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>Unser Angebot umfasst mitunter Inhalte, Dienste und Leistungen anderer Anbieter. Das sind zum Beispiel Karten, die von
			Google-Maps zur Verfügung gestellt werden, Videos von YouTube sowie Grafiken und Bilder anderer Webseiten. Damit diese
			Daten im Browser des Nutzers aufgerufen und dargestellt werden können, ist die Übermittlung der IP-Adresse zwingend notwendig.
			Die Anbieter (im Folgenden als „Dritt-Anbieter“ bezeichnet) nehmen also die IP-Adresse des jeweiligen Nutzers wahr. </p>
		<p>Auch wenn wir bemüht sind, ausschließlich Dritt-Anbieter zu nutzen, welche die IP-Adresse nur benötigen, um Inhalte ausliefern
			zu können, haben wir keinen Einfluss darauf, ob die IP-Adresse möglicherweise gespeichert wird. Dieser Vorgang dient in
			dem Fall unter anderem statistischen Zwecken. Sofern wir Kenntnis davon haben, dass die IP-Adresse gespeichert wird, weisen
			wir unsere Nutzer darauf hin. </p>
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Cookies</h2>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>Diese Webseite verwendet sogenannte Cookies. Das sind Textdateien, die vom Server aus auf Ihrem Rechner gespeichert werden.
			Sie enthalten Informationen zum Browser, zur IP-Adresse, dem Betriebssystem und zur Internetverbindung. Diese Daten werden
			von uns nicht an Dritte weitergegeben oder ohne ihre Zustimmung mit personenbezogenen Daten verknüpft.</p>
		<p>Cookies erfüllen vor allem zwei Aufgaben. Sie helfen uns, Ihnen die Navigation durch unser Angebot zu erleichtern, und
			ermöglichen die korrekte Darstellung der Webseite. Sie werden nicht dazu genutzt, Viren einzuschleusen oder Programme
			zu starten.</p>
		<p>Nutzer haben die Möglichkeit, unser Angebot auch ohne Cookies aufzurufen. Dazu müssen im Browser die entsprechenden Einstellungen
			geändert werden. Informieren Sie sich bitte über die Hilfsfunktion Ihres Browsers, wie Cookies deaktiviert werden. Wir
			weisen allerdings darauf hin, dass dadurch einige Funktionen dieser Webseite möglicherweise beeinträchtigt werden und
			der Nutzungskomfort eingeschränkt wird. Die Seiten
			<a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a> (USA) und
			<a href="http://www.youronlinechoices.com/uk/your-ad-choices/">http://www.youronlinechoices.com/uk/your-ad-choices/</a> (Europa) erlauben es Ihnen, Online-Anzeigen-Cookies zu verwalten.</p>
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Verwendung von Piwik</h2>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>Diese Webseite nutzt Piwik, eine Open-Source-Software, die Daten sammelt und speichert. Diese Informationen dienen Marketing-
			und Optimierungszwecken. Piwik erstellt dazu aus den Daten Nutzungsprofile mit einem Pseudonym. Für diese Zwecke speichert
			die Software auf Ihrem Computer Cookies (Textdateien), anhand derer die Nutzung der Webseite durch Sie analysiert werden
			kann. Ihre IP-Adresse wird dabei sofort nach der Verarbeitung und vor der Speicherung anonymisiert. Die Daten werden auf
			den Servern des Anbieters in Deutschland hinterlegt.</p>
		<p>Wenn Sie nicht möchten, dass Piwik Cookies speichert, haben Sie die Möglichkeit, über die Einstellungen Ihres Browser die
			Installation von Cookies zu unterbinden (Informationen dazu finden Sie in der Hilfefunktion des Browsers). In diesem Fall
			können Sie möglicherweise nicht alle Funktionen des Angebots nutzen.</p>
		<iframe style="border: 0; height: 175px; width: 100%;" src="https://tracking.niedermann.it/index.php?module=CoreAdminHome&action=optOut&language=de&backgroundColor=ffffff&fontColor=&fontSize=1em&fontFamily=sans"></iframe>
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Datensparsamkeit</h2>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>Personenbezogene Daten speichern wir gemäß den Grundsätzen der Datenvermeidung und Datensparsamkeit nur so lange, wie es
			erforderlich ist oder vom Gesetzgeber her vorgeschrieben wird (gesetzliche Speicherfrist). Entfällt der Zweck der erhobenen
			Informationen oder endet die Speicherfrist, sperren oder löschen wir die Daten.</p>
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Ihre Rechte auf Auskunft, Berichtigung, Sperre, Löschung und Widerspruch</h2>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>Sie haben das Recht, auf Antrag unentgeltlich eine Auskunft, über die bei uns gespeicherten personenbezogenen Daten, anzufordern
			und/oder eine Berichtigung, Sperrung oder Löschung zu verlangen. Ausnahmen: Es handelt sich um die vorgeschriebene Datenspeicherung
			zur Geschäftsabwicklung oder die Daten unterliegen der gesetzlichen Aufbewahrungspflicht.</p>
		<p>Für diese Zwecke kontaktieren Sie bitte unseren Datenschutzbeauftragen (Kontaktdaten: am Ende der Datenschutzerklärung).</p>
		<p>Um eine Datensperre jederzeit berücksichtigen zu können, ist es erforderlich, die Daten für Kontrollzwecke in einer Sperrdatei
			vorzuhalten. Besteht keine gesetzliche Archivierungspflicht, können Sie auch die Löschung der Daten verlangen. Anderenfalls
			sperren wir die Daten, sofern Sie dies wünschen.</p>
		<h2>Änderung unserer Datenschutzerklärung</h2>
		<p>Um zu gewährleisten, dass unsere Datenschutzerklärung stets den aktuellen gesetzlichen Vorgaben entspricht, behalten wir
			uns jederzeit Änderungen vor. Das gilt auch für den Fall, dass die Datenschutzerklärung aufgrund neuer oder überarbeiteter
			Leistungen, zum Beispiel neuer Serviceleistungen, angepasst werden muss. Die neue Datenschutzerklärung greift dann bei
			Ihrem nächsten Besuch auf unserem Angebot.</p>
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Quelle</h2>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>
			Quelle: Datenschutz-Konfigurator von
			<a href="http://www.mein-datenschutzbeauftragter.de" target="_blank">mein-datenschutzbeauftragter.de</a>
		</p>
	</mat-card-content>
</mat-card>