<md-card>
  <md-card-header>
    <md-card-title>
      <h2>Adresse</h2>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <p>
      Nördlinger Straße 14<br /> 91126 Barthelmesaurach<br /> Tel.: +49 9178 1503
    </p>
  </md-card-content>
  <md-card-actions>
    <a href="tel:+4991781503" md-button color="primary">ANRUFEN</a>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-header>
    <md-card-title>
      <h2>Karte</h2>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2603.084502228245!2d10.928442999999998!3d49.274795999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479f4c1869b0ce51%3A0x8afa14179d40bfa7!2sGasthaus+Gundel!5e0!3m2!1sde!2sde!4v1425821392833"
      class="map" frameborder="0" style="border: 0"></iframe>
  </md-card-content>
</md-card>