<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Öffnungszeiten</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip color="primary" selected="true">Warme Küche bis 22:00 Uhr</mat-chip>
    </mat-chip-list>
    <!--p>
      Öffnet in: {{opensIn()}}
    </p>
    <p>
      Schließt in: {{closesIn() | date: 'shortTime'}}
    </p-->
    <ul>
      <li *ngFor="let oeffnungszeit of oeffnungszeiten">
        <span class="titel">{{oeffnungszeit.titel}}</span>
        <span class="zeiten">{{oeffnungszeit.oeffnungszeiten | oeffnungszeiten}}</span>
      </li>
    </ul>
  </mat-card-content>
</mat-card>