<mat-sidenav-container fullscreen (swiperight)="swipeRight()" (swipeleft)="swipeLeft()">
	<mat-sidenav #sidenav mode="over" opened="false" color="primary">
		<mat-nav-list>
			<a mat-list-item routerLinkActive="active" (click)="closeSidenavOnNavigate()" routerLink="/home">
				<mat-icon class="mdi mdi-home"></mat-icon>Home</a>
			<a mat-list-item routerLinkActive="active" (click)="closeSidenavOnNavigate()" routerLink="/oeffnungszeiten">
				<mat-icon class="mdi mdi-clock"></mat-icon>Öffnungszeiten</a>
			<a mat-list-item routerLinkActive="active" (click)="closeSidenavOnNavigate()" routerLink="/anfahrt">
				<mat-icon class="mdi mdi-map-marker"></mat-icon>Anfahrt</a>
			<a mat-list-item routerLinkActive="active" (click)="closeSidenavOnNavigate()" routerLink="/speisekarte">
				<mat-icon class="mdi mdi-silverware"></mat-icon>Speisekarte</a>
			<a mat-list-item routerLinkActive="active" (click)="closeSidenavOnNavigate()" routerLink="/impressum">
				<mat-icon class="mdi mdi-information-outline"></mat-icon>Impressum</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-toolbar color="primary">
		<button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon class="mdi mdi-menu"></mat-icon>
        </button>
		<h1>{{appService.getTitle()}}</h1>
	</mat-toolbar>
	<main #main [class]="appService.getSeason()">
		<div id="outlet-wrapper">
			<router-outlet></router-outlet>
		</div>
	</main>
</mat-sidenav-container>