<md-card>
	<md-card-header>
		<md-card-title>
			<h2>Inhalt</h2>
		</md-card-title>
	</md-card-header>
	<md-card-content>
		<p>Verantwortlich für den Inhalt der Seite ist Ioannis Loules.</p>
		<p>
			Nördlinger Straße 14<br /> 91126 Barthelmesaurach<br /> <abbr title="Telefon">Tel.:</abbr> +49 9178 1503
		</p>
		<p>Bitte beachten Sie in jedem Fall vor dem Bestellen einer Speise oder eines Getränkes die Verträglichkeit der Inhaltsstoffe.
			Sämtliche Zusätze können vor Ort erfragt werden.</p>
		<p></p>
	</md-card-content>
</md-card>
<md-card>
	<md-card-header>
		<md-card-title>
			<h2>Technik</h2>
		</md-card-title>
	</md-card-header>
	<img md-card-image src="http://www.niedermann.it/resources/niedermann-it-dienstleistungen.svg" alt="Niedermann IT-Dienstleistungen"
	/>
	<md-card-content>
		<p>Die Website wurde entwickelt von <a href="http://www.niedermann.it" target="_blank">Niedermann IT-Dienstleistungen</a>.</p>
		<h3>Tracking</h3>
		<p>
			Um die Benutzererfahrung ständig zu verbessern, tracken wir mit einer eigenen Piwik-Instanz. Beachten Sie, dass hierbei keine
			proprietären Dienste, wie Google Analytics Verwendung finden. Zusätzlich werden alle Daten von Ihnen anonymisiert, so
			dass keinerlei Rückschlüsse auf einzelne Personen gezogen werden sondern lediglich statistische Auswertungen erfolgen
			können.
		</p>
		<p>
			Sie können dem Tracking jederzeit widersprechen, indem Sie in Ihren Browser-Einstellungen den <em>Do-Not-Track-Header</em>			setzen und uns somit signalisieren, dass Sie kein Tracking wünschen.
		</p>
		<p>Beachten Sie die übrigen Datenschutzbestimmungen von eingebunden externen Dienstleistern, etwa Google Maps.</p>
		<h3>Lizenzen</h3>
		<p>Diese Seite verwendet <a href="https://materialdesignicons.com/" target="_blank">Material-Design-Icons</a>, die unter der
			CC-BY-SA-Lizenz stehen.</p>
		<p>Die Inhalte der Seite dürfen für keine Zwecke ohne Zustimmung weiterverwendet werden.</p>
	</md-card-content>
</md-card>