<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Inhalt</h2>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>Verantwortlich für den Inhalt der Seite ist Ioannis Loules.</p>
		<p>
			Nördlinger Straße 14
			<br /> 91126 Barthelmesaurach
			<br />
			<abbr title="Telefon">Tel.:</abbr> +49 9178 1503
		</p>
		<p>Bitte beachten Sie in jedem Fall vor dem Bestellen einer Speise oder eines Getränkes die Verträglichkeit der Inhaltsstoffe.
			Sämtliche Zusätze können vor Ort erfragt werden.</p>
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Technik</h2>
		</mat-card-title>
	</mat-card-header>
	<img mat-card-image src="/assets/img/impressum/niedermann-it.png" alt="Niedermann IT-Dienstleistungen" />
	<mat-card-content>
		<p>Die Website wurde entwickelt von
			<a href="http://www.niedermann.it" target="_blank">Niedermann IT-Dienstleistungen</a>.</p>
		<h3>Tracking</h3>
		<p>
			Um die Benutzererfahrung ständig zu verbessern, tracken wir mit einer eigenen Matomo-Instanz. Beachten Sie, dass hierbei
			keine proprietären Dienste, wie Google Analytics Verwendung finden. Zusätzlich werden alle Daten von Ihnen anonymisiert,
			so dass keinerlei Rückschlüsse auf einzelne Personen gezogen werden sondern lediglich statistische Auswertungen erfolgen
			können.
		</p>
		<p>
			Sie können dem Tracking jederzeit widersprechen, indem Sie in Ihren Browser-Einstellungen den
			<em>Do-Not-Track-Header</em> setzen und uns somit signalisieren, dass Sie kein Tracking wünschen.
		</p>
		<p>Beachten Sie die übrigen Datenschutzbestimmungen von eingebunden externen Dienstleistern, etwa Google Maps.</p>
		<h3>Lizenzen</h3>
		<p>Diese Seite verwendet
			<a href="https://materialdesignicons.com/" target="_blank">Material-Design-Icons</a>, die unter der CC-BY-SA-Lizenz stehen.</p>
		<p>Die Inhalte der Seite dürfen für keine Zwecke ohne Zustimmung weiterverwendet werden.</p>
		<p>Alle anderen Grafiken sind, sofern nichts weiter angegeben wurde Public Domain.</p>
		<p>Das Foto auf der Startseite steht unter der
			<a href="http://creativecommons.org/licenses/by-sa/2.0/de/deed.de" target="_blank">CreativeCommons by-sa-2.0-de</a>-Lizenz und wurde von
			<a href="https://commons.wikimedia.org/wiki/User:Aarp65" target="_blank">Aarp65</a> erstellt.</p>
	</mat-card-content>
</mat-card>