md-input-container {
    width: 100%;
}

md-card {
    margin-bottom: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    flex: 1 0 auto;
}

li p {
    display: inline;
}

.nummer, .titel {font-weight: bold;}
.preis {
    text-align: right;
    flex-grow: 0;
}