<md-card>
	<md-card-content>
		<md-input-container>
			<span mdPrefix class="mdi mdi-magnify"></span>
			<input (keyup)="filter($event)" mdInput placeholder="Suchen..." />
		</md-input-container>
	</md-card-content>
</md-card>

<md-card *ngFor="let kategorie of filteredKategorien">
	<md-card-header>
		<md-card-title>
			<h2>{{kategorie.titel}}</h2>
		</md-card-title>
	</md-card-header>
	<img md-card-image *ngIf="kategorie.graphik" src="{{'assets/img/speisekarte/' + kategorie.graphik + '.jpg'}}" />
	<md-card-content>
		<ul>
			<li *ngFor="let gericht of kategorie.gerichte;let i=index">
				<span class="nummer">{{gericht.nummer | number:'2.0-0'}}</span>
				<span class="titel">{{gericht.titel}}</span>
				<span class="preis">{{gericht.preis | currency:'EUR':true:'1.2-2'}}</span><span *ngIf="gericht.altPreis">/{{gericht.altPreis | currency:'EUR':true:'1.2-2'}}</span>
				<p>{{gericht.beschreibung}}</p>
			</li>
		</ul>
	</md-card-content>
</md-card>