<mat-card>
	<mat-card-content>
		<mat-form-field>
			<span matPrefix class="mdi mdi-magnify"></span>
			<input (keyup)="filter($event)" matInput placeholder="Suchen..." />
		</mat-form-field>
	</mat-card-content>
</mat-card>

<mat-card *ngFor="let kategorie of filteredKategorien">
	<mat-card-header>
		<mat-card-title>
			<h2>{{kategorie.titel}}</h2>
		</mat-card-title>
	</mat-card-header>
	<img mat-card-image *ngIf="kategorie.graphik" src="{{'assets/img/speisekarte/' + kategorie.graphik + '.jpg'}}" />
	<mat-card-content>
		<ul>
			<li *ngFor="let gericht of kategorie.gerichte;let i=index">
				<span>{{gericht.nummer | number:'2.0-0'}}</span>
				<strong>{{gericht.titel}}</strong>
				<mat-chip-list>
					<mat-chip color="primary" selected="true">{{gericht.preis | currency:'EUR':'symbol':'1.2-2'}}</mat-chip>
					<mat-chip  *ngIf="gericht.altPreis" color="primary" selected="true">{{gericht.altPreis | currency:'EUR':'symbol':'1.2-2'}}</mat-chip>
				</mat-chip-list>
				<p>{{gericht.beschreibung}}</p>
			</li>
		</ul>
	</mat-card-content>
</mat-card>