mat-form-field {
    width: 100%;
	font-size: larger;
	.mdi-magnify {
		margin-right: .5em;
	}
}

mat-card {
	margin-bottom: 1em;
	&:first-child {
		padding-top: 0;
		padding-bottom: 0;
	}
}


ul {
    list-style: none;
    padding: 0;
}

li {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin-bottom: 1em;
	&:last-child {
		margin-bottom: 0;
	}
	// Nummer
	:first-child {
		margin-right: .5em;
	}
	// Titel
	strong {
		flex: 1 0 auto;
		font-weight: bold;
	}
	// Beschreibung
	p {
		margin: .2em 0 0 0;
		text-align: left;
		flex-basis: 100%;
	}
}
