<md-input-container>
  <span mdPrefix class="mdi mdi-magnify"></span>
  <input (keyup)="filter($event)" mdInput placeholder="Suchen..." />
</md-input-container>

<md-card *ngFor="let kategorie of filteredKategorien">
  <md-card-header>
    <md-card-title>
      <h2>{{kategorie.titel}}</h2>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <ul>
      <li *ngFor="let gericht of kategorie.gerichte">
        <span class="nummer">{{gericht.nummer}}</span>
        <span class="titel">{{gericht.titel}}:</span>
        <p>{{gericht.beschreibung}}</p>
        <span class="preis">{{gericht.preis | currency:'EUR':true:'1.2-2'}}</span>
      </li>
    </ul>
  </md-card-content>
</md-card>