Header add Content-Security-Policy "default-src 'none'; base-uri 'self'; form-action 'none'; img-src 'self'; font-src 'self'; script-src 'self' 'unsafe-inline' https://tracking.niedermann.it/; style-src 'self' 'unsafe-inline'; frame-src https://tracking.niedermann.it https://www.google.com/maps/embed; frame-ancestors 'none';"
Header add Strict-Transport-Security "max-age=63072000; includeSubDomains"
Header add X-Frame-Options "DENY"
Header add X-Content-Type-Options "nosniff"
Header add X-XSS-Protection "1; mode=block"
Header add Referrer-Policy "same-origin, strict-origin-when-cross-origin"
Header unset "X-Powered-By"

RewriteEngine On

# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html