Header add Content-Security-Policy "default-src 'self' https://www.google.com/maps/embed; script-src 'self' 'unsafe-inline' https://tracking.niedermann.it/; style-src 'self' 'unsafe-inline'; font-src 'self' https://tracking.niedermann.it"

RewriteEngine On
# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html