<md-card>
	<md-card-header>
		<md-card-title>
			<h2>Herzlich Willkommen</h2>
		</md-card-title>
	</md-card-header>
	<img md-card-image src="../../assets/img/gasthaus-gundel.jpg" alt="Gasthaus Gundel" />
	<md-card-content>
		<h3>
			<md-icon class="mdi mdi-phone"></md-icon> 09178 / 1503</h3>
		<p><a href="tel:+4991781503" md-raised-button color="primary">JETZT ANRUFEN</a></p>
		<p>Herzlich Willkommen bei Ioannis und Anastasia Loules.</p>
		<p>Seit 1997, gegenüber der gleichnamigen Brauerei, verwöhnen wir Sie mit fränkischen, griechischen und saisonalen Spezialitäten.
			Unsere gemütlichen Räumlichkeiten, Gaststube mit 65 Plätzen und unser Saal im Obergeschoß bis zu 85 Personen bietet sich
			ideal für Veranstaltungen, Betriebs- und Familienfeiern und vielen mehr an.</p>
		<p>Unser ruhiger Biergarten lädt in den Sommermonaten zum Verweilen ein.</p>
		<p>Wir wünschen Ihnen einen angenehmen Aufenthalt und einen Guten Appetit!</p>
	</md-card-content>
	<md-card-actions>
		<a md-button color="primary" routerLink="/oeffnungszeiten">ÖFFNUNGSZEITEN</a>
		<a md-button color="primary" routerLink="/anfahrt">ANFAHRT</a>
		<a md-button color="primary" routerLink="/speisekarte">SPEISEKARTE</a>
	</md-card-actions>
</md-card>