<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Herzlich Willkommen</h2>
		</mat-card-title>
	</mat-card-header>
	<img mat-card-image src="../../assets/img/gasthaus-gundel.jpg" alt="Gasthaus Gundel" />
	<mat-card-content>
		<h3>
			<mat-icon class="mdi mdi-phone"></mat-icon> 09178 / 1503</h3>
		<nav>
			<ul>
				<li><a mat-raised-button color="primary" href="tel:+4991781503" (click)="trackPhoneCall($event)">Jetzt Anrufen</a></li>
				<li><a mat-raised-button routerLink="/speisekarte">Speisekarte</a></li>
				<li><a mat-raised-button routerLink="/oeffnungszeiten">Öffnungszeiten</a></li>
			</ul>
		</nav>
		<p>Herzlich Willkommen bei Ioannis und Anastasia Loules.</p>
		<p>Seit 1997, gegenüber der gleichnamigen Brauerei, verwöhnen wir Sie mit fränkischen, griechischen und saisonalen Spezialitäten.
			Unsere gemütlichen Räumlichkeiten, Gaststube mit 65 Plätzen und unser Saal im Obergeschoß bis zu 85 Personen bietet sich
			ideal für Veranstaltungen, Betriebs- und Familienfeiern und vielen mehr an.</p>
		<p>Unser ruhiger Biergarten lädt in den Sommermonaten zum Verweilen ein.</p>
		<p>Wir wünschen Ihnen einen angenehmen Aufenthalt und einen Guten Appetit!</p>
	</mat-card-content>
	<mat-card-actions>
		<a mat-button color="primary" routerLink="/oeffnungszeiten">ÖFFNUNGSZEITEN</a>
		<a mat-button color="primary" routerLink="/anfahrt">ANFAHRT</a>
		<a mat-button color="primary" routerLink="/speisekarte">SPEISEKARTE</a>
	</mat-card-actions>
</mat-card>