:host {
    display: block;
    color-scheme: light dark;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-icons-v48.woff2) format('woff2');
}

button {
    line-height: inherit;
    font-size: inherit;
    border: 0;
    background-color: var(--md-sys-color-secondary, Canvas);
    color: var(--md-sys-color-on-secondary, CanvasText);
    text-decoration: none;
    padding: var(--spacer, 1rem) calc(var(--spacer, 1rem) * 2);
    border-radius: calc(var(--spacer, 1rem) / 2);
    border-radius: calc(var(--spacer) * 2);
}

i {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;

    vertical-align: middle;
    margin-inline-end: calc(var(--spacer, 1rem) / 2);
}

figure {
    margin: 0;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

iframe,
p {
    height: 100%;
    margin: 0;

    background-image: repeating-linear-gradient(-55deg,
            var(--md-sys-color-surface-container-low, Canvas),
            var(--md-sys-color-surface-container-low, Canvas) 10px,
            var(--md-sys-color-surface-container, ButtonBorder) 10px,
            var(--md-sys-color-surface-container, ButtonBorder) 20px);
}

iframe {
    border: 0;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

p,
button,
label:has(input[type="checkbox"]),
input[type="checkbox"] {
    cursor: pointer;
}